<div class="header">
    <div class="row">
        <div class="col-sm-3 left-col">
            <div style="display: inline-flex;">
                <img src="../../assets/img/kisspng-court-gavel-judge-clip-art-lawyer-criminal-defense-gavel-svg-12-x12-png-cli-5d10b2a0d964d2 1.png" height="50px" width="50px" alt="">
                <h5>Advokatska kancelarija</h5>
            </div>
        </div>
        <div class="col-sm text-center middle-col">
            <mat-form-field appearance="legacy">
                <mat-label>Pretaži</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-sm-2 right-col text-right">
            <div style="display: inline-flex;padding-top: 1em;">
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>notifications</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>

                <h4>{{username}}</h4>
                <button mat-icon-button class="profile-btn" [matMenuTriggerFor]="profile"><mat-icon>expand_more</mat-icon></button>
                <mat-menu #profile="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>