.col-sm-3 h5 {
    padding-top: 1em;
    margin-left: 1em;
}

.left-col,
.middle-col,
.right-col {
    padding-top: .5em;
}

.left-col {}

mat-form-field {
    width: 90%;
}

.right-col {}

.profile-btn {
    color: #56CCF2;
    color: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    color: linear-gradient(to right, #2F80ED, #56CCF2);
    margin-left: 1em;
}

mat-icon {
    font-size: 30px;
    height: 40px;
    width: 40px;
}

.header {
    background-color: #fff;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

::ng-deep.mat-form-field-ripple {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}