.col-sm-3 h5 {
    padding-top: .5em;
    margin-left: 1em;
}

.left-col {
    border-right: 1px solid #e1e1e1;
}

.middle-col {
    padding: 1em;
}

mat-form-field {
    width: 90%;
}

.right-col {
    border-left: 1px solid #e1e1e1;
    padding: 2em;
}

.right-col h4 {
    font-weight: bold;
}

.profile-btn {
    color: #56CCF2;
    color: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    color: linear-gradient(to right, #2F80ED, #56CCF2);
    margin-left: 1em;
}

mat-icon {
    font-size: 30px;
    height: 40px;
    width: 40px;
}

.header {
    background-color: #fff;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

::ng-deep.mat-form-field-ripple {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}