.lawsuit-card {
    margin-top: 2em;
    padding: 2em;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
}

.inline-row {
    display: inline-flex;
    height: 35vh;
    overflow-x: scroll;
    width: 100%;
}

::-webkit-scrollbar {
    height: .5em;
    background-color: #fff !important;
    width: 10px;
}