.content {
    background-color: #F7F8F8;
    min-height: 91vh;
}

.content .row .col-sm-3 {
    padding: 2em;
    color: #000;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 91vh;
}

.content h4 {
    padding-top: .3em;
}

.active {
    transition: .5s ease;
    color: #56CCF2;
    color: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    color: linear-gradient(to right, #2F80ED, #56CCF2);
    background-color: #282828;
    padding: .5em;
    border-radius: 20px;
}

.content h4:hover {
    cursor: pointer;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background: none
}

::ng-deep.mat-form-field-underline {
    transform: none !important;
}

.window::after {
    background-image: url('https://picsum.photos/id/424/1500/900');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
}

.window::after {
    content: "";
    display: block;
    width: 100%;
    filter: blur(0.5rem);
}