.content {
    background-color: #F7F8F8;
    min-height: 91vh;
}

.content .row .col-sm-3 {
    padding: 2em;
    border-right: 1px solid #e1e1e1;
    height: 91vh;
}

.content h4 {
    padding-top: .3em;
}

.active {
    color: #56CCF2;
    color: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    color: linear-gradient(to right, #2F80ED, #56CCF2);
}

.content h4:hover {
    cursor: pointer;
}

.target {
    zoom: 90%;
}