<div class="header">
    <div class="row">

        <div class="col-sm-2 empty-col text-center" style="padding-top: 1em;">

            <img src="../../../assets/img/kisspng-court-gavel-judge-clip-art-lawyer-criminal-defense-gavel-svg-12-x12-png-cli-5d10b2a0d964d2%201.png" height="80px" width="80px" alt="">
            <div class="small-text">
                <h6>Advokatska kancelarija Nataše M. Tošić <br>Gospodar Jevremova 3, 15 000 Šabac</h6>
            </div>
        </div>
        <div class="col-sm middle-col text-center">
            <form [formGroup]="searchForm">
                <mat-form-field class="example-full-width" appereance="fill">
                    <mat-label>Pretraži</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto" formControlName="search" (ngModelChange)="clear()" id="search">
                    <mat-icon matSuffix (click)="search()">search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let filter of filteredArray" [value]="filter.title || filter.full_name" (click)="desideToOpenDialog(filter)">
                            {{filter.title || filter.full_name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-sm-2 right-col text-right" style="padding-top: 2em;">

            <div class="row">
                <div class="col">
                    <button mat-icon-button [disabled]="listOfNotification.length === 0" [matMenuTriggerFor]="menu"><mat-icon matBadge="{{listOfNotification.length}}" matBadgeOverlap="false">{{notificationIcon}}</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <div class="notification" *ngFor="let notification of listOfNotification">
                            <div style="display: inline-flex;">

                                <h5>{{notification.note}}</h5>
                                <button mat-icon-button style="margin-left: 1em;" (click)="deleteNotification(notification)"><mat-icon>close</mat-icon></button>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-menu>

                </div>
                <div class="col text-right" style="display: inline-flex;">

                    <h4 (click)="openUserProfileDialog()">{{username}}</h4>
                    <button mat-icon-button class="profile-btn" (click)="openConfirmDialog()"><mat-icon>exit_to_app</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
