@import "../../../../assets/css/forms.css";
.edit-dialog {
    padding: 2em 1em;
}

.add-lawsuid-div {
    padding: .5em;
    background-color: #121212;
    color: #fff;
}

.add-lawsuid-div .col-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
}