<div class="edit-dialog">
  <app-heading header="Izmena predmeta"></app-heading>
  <app-form-input [group]="addCaseForm" [config]="titleInputConfig"></app-form-input>
  <app-form-select formDisplayValue="fullName" [config]="clientSelectConfig" [group]="addCaseForm"></app-form-select>
  <app-form-date [group]="addCaseForm" [config]="creationDateConfig"></app-form-date>
  <div>
    <div style="display: inline-flex;width: 100%;">
      <app-heading header="Dodaj ročište" style="width: 100%;"></app-heading>
      <button mat-icon-button (click)="showLawsuitForm()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div id="lawsuit">

      <div style="margin-top: 2em">
        <ckeditor #lawsuitEditor [editor]="LawsuitEditor" [data]="lawsuitEditorData"></ckeditor>
      </div>
    </div>
  </div>
  <div style="padding-top: 2em;">
    <app-heading header="Napomena"></app-heading>
  </div>
  <div style="margin-top: 2em;">
    <ckeditor #editor [editor]="Editor" [data]="data.note"></ckeditor>
  </div>

  <button class="gradient-blue-btn save-btn" [disabled]="!addCaseForm.valid" (click)="update()" mat-button>Sačuvaj
  </button>
</div>
