.overview-component {
    padding: 3em;
    background-color: #fff;
    margin: 1em;
    border-radius: 30px;
}

mat-form-field {
    width: 100%;
}

.lawsuit-card {
    margin: 1em;
    padding: 2em;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 49px -27px rgba(0, 0, 0, 0.75);
}

.lawsuit-card:hover {
    cursor: pointer;
    opacity: .8;
    transition: .5s ease;
}

.date-div {
    display: inline-flex;
}

.end-date-div {
    margin-left: 2em;
}

calendar {
    padding: 2em 7em;
}

::ng-deep.calendar-container .calendar-header {
    background: linear-gradient(to right, #2F80ED, #56CCF2) !important;
    border-right: 0 !important;
}

::ng-deep.calendar-container .calendar-body .calendar-week-header {
    background: linear-gradient(to right, #2F80ED, #56CCF2) !important;
    border-right: 0 !important;
}

::ng-deep.calendar-container .calendar-body .month-slider .calendar-week .calendar-day-wrapper .calendar-day.today {
    background-color: #eee !important;
    color: #121212 !important;
}

::ng-deep.calendar-container .calendar-body .month-slider .calendar-week .calendar-day-wrapper .calendar-day.selected {
    background: linear-gradient(to right, #2F80ED, #56CCF2) !important;
}

::ng-deep.calendar-container .calendar-body .month-slider {
    border-right: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

@media screen and (max-width:570px) {
    .date-div {
        display: block;
    }
    mat-form-field {
        margin-left: 0 !important;
    }
    .end-date-div {
        margin-left: 0 !important;
    }
}