<div class="login">
  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4 login-form text-center">
      <div>
        <img
          src="../../../assets/img/kisspng-court-gavel-judge-clip-art-lawyer-criminal-defense-gavel-svg-12-x12-png-cli-5d10b2a0d964d2%201.png"
          alt="" class="img-fluid">
      </div>

      <div id="login-spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div class="form-div">
        <form [formGroup]="loginForm" id="login-form">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Korisničko ime</mat-label>
              <input formControlName="username" matInput placeholder="lawyer21">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Šifra</mat-label>
              <input type="password" formControlName="password" matInput placeholder="Password">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <button mat-button [disabled]="!loginForm.valid" class="login-btn gradient-blue-btn" (click)="login()">
              Pristupi
            </button>
            <button mat-button class="login-btn " (click)="goToRegister()" style="background-color:#282828;">Registruj
              se
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-4"></div>
  </div>
</div>
