<div class="case-dialog">
  <app-heading header="Dodavanje predmeta"></app-heading>
  <app-form-input [config]="titleInputConfig" [group]="addCaseForm"></app-form-input>
  <app-form-select [config]="clientSelectConfig" label="Odaberite stranku" [group]="addCaseForm"
                   formDisplayValue="fullName"></app-form-select>
  <form [formGroup]="addCaseForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Datum početka slučaja</mat-label>
        <input matInput formControlName="creationDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <div>
    <div class="inline">
      <app-heading header="Dodaj ročište" style="width: 100%;"></app-heading>
      <button mat-icon-button (click)="showLawsuitForm()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div id="lawsuit">
      <form [formGroup]="lawsuitForm">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Datum početka slučaja</mat-label>
            <input matInput formControlName="date" [matDatepicker]="lawsuit_picker">
            <mat-datepicker-toggle matSuffix [for]="lawsuit_picker"></mat-datepicker-toggle>
            <mat-datepicker #lawsuit_picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
      <div class="add-case-form-div">
        <ckeditor #lawsuitEditor [editor]="LawsuitEditor" [data]="lawsuitEditorData"></ckeditor>
      </div>
    </div>
  </div>
  <div class="add-case-form-div">
    <app-heading header="Napomena"></app-heading>
  </div>
  <div class="add-case-form-div">
    <ckeditor #editor [editor]="Editor" [data]="editorData"></ckeditor>
  </div>

  <button class="gradient-blue-btn save-btn" [disabled]="!addCaseForm.valid" (click)="save()" mat-button>Sačuvaj
  </button>
</div>
