.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.gradient-blue-btn {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-family: 'Cairo', sans-serif !important;
}

button {
    font-weight: bold !important;
}

.gradient-red-btn {
    background: #EB3349;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar {
    height: .5em;
    background-color: #222;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    border-radius: 10px;
}